<div class="mb-3">
    <label for="sort" class="form-label">Sortuj wg.</label>
            <select name="sort" id="sort" class="form-control">
                <option value="">Domyślnie</option>
                <option value="name|asc" <%- query.sort === 'name|asc' ? 'selected' : '' %>>A-Z (rosnąco)</option>
                <option value="name|desc" <%- query.sort === 'name|desc' ? 'selected' : '' %>>Z-A (malejąco)</option>
                <option value="employeesCount|asc" <%- query.sort === 'employeesCount|asc' ? 'selected' : '' %>>Wg. pracowników (rosnąco)</option>
                <option value="employeesCount|desc" <%- query.sort === 'employeesCount|desc' ? 'selected' : '' %>>Wg. pracowników (malejąco)</option>
            </select>
            <button class="btn btn-primary mt-2">Szukaj</button>
        </div>

<div class="mb-3">
    <label for="countmin" class="form-label">Liczba pracowników (min)</label>
    <input type="number" class="form-control" id="countmin" name="countmin">
</div>

<div class="mb-3">
    <label for="countmax" class="form-label">Liczba pracowników (max)</label>
    <input type="number" class="form-control" id="countmax" name="countmax">
</div>